<div class="table-responsive">
  <table
    class="table align-middle text-center text-white"
    *ngFor="let element of listaHistoriaClinica; let i = index"
    id="tabla{{ i }}"
  >
    <thead class="align-middle">
      <tr>
        <th>Fecha</th>
        <th>Especialidad</th>
        <th>Especialista</th>
        <th>Altura</th>
        <th>Peso</th>
        <th>Temperatura</th>
        <th>Presion</th>
        <th *ngFor="let dato of element.historiaClinica.datosDinamicos">
          <span *ngIf="dato.clave1">
            {{ dato.clave1 }}
          </span>
          <span *ngIf="dato.clave2">
            {{ dato.clave2 }}
          </span>
          <span *ngIf="dato.clave3">
            {{ dato.clave3 }}
          </span>
          <span *ngIf="dato.clave4">
            {{ dato.clave4 }}
          </span>
          <span *ngIf="dato.clave5">
            {{ dato.clave5 }}
          </span>
          <span *ngIf="dato.clave6">
            {{ dato.clave6 }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr appLupa>
        <td>{{ element.fecha | fecha }}</td>
        <td>{{ element.especialidad.nombre }}</td>
        <td>{{ element.especialista }}</td>
        <td>
          {{ element.historiaClinica.altura | historiaClinica: "altura" }}
        </td>
        <td>{{ element.historiaClinica.peso | historiaClinica: "peso" }}</td>
        <td>
          {{
            element.historiaClinica.temperatura | historiaClinica: "temperatura"
          }}
        </td>
        <td>
          {{ element.historiaClinica.presion | historiaClinica: "presion" }}
        </td>
        <td *ngFor="let dato of element.historiaClinica.datosDinamicos">
          <span *ngIf="dato.valor1">
            {{ dato.valor1 }}
          </span>
          <span *ngIf="dato.valor2">
            {{ dato.valor2 }}
          </span>
          <span *ngIf="dato.valor3">
            {{ dato.valor3 }}
          </span>
          <span *ngIf="dato.valor4">
            {{ dato.valor4 }}
          </span>
          <span *ngIf="dato.valor5">
            {{ dato.valor5 }}
          </span>
          <span *ngIf="dato.valor6">
            {{ dato.valor6 }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="listaHistoriaClinica.length == 0">
  <p class="text-white text-center fs-4">No posee</p>
</div>
