<form [formGroup]="formAdministrador" (ngSubmit)="enviarAdministrador()">
    <div class="container text-white">
      <fieldset class="reset bg rounded p-4">
        <legend class="reset">Informacion personal</legend>
        <div class="row">
          <div class="col form-group mb-2">
            <input
              type="text"
              placeholder="Nombre"
              class="form-control text-dark"
              [ngClass]="{'border border-2 border-danger': (this.formAdministrador.controls['nombre'].errors?.['required'] && this.formAdministrador.controls['nombre'].touched) || (this.formAdministrador.controls['nombre'].errors?.['pattern'] || this.formAdministrador.controls['nombre'].errors?.['minlength'])}"
              formControlName="nombre"
            />
          </div>
          <div class="col form-group mb-2">
            <input
              type="text"
              placeholder="Apellido"
              class="form-control text-dark"
              [ngClass]="{'border border-2 border-danger': (this.formAdministrador.controls['apellido'].errors?.['required'] && this.formAdministrador.controls['apellido'].touched) || (this.formAdministrador.controls['apellido'].errors?.['pattern'] || this.formAdministrador.controls['apellido'].errors?.['minlength'])}"
              formControlName="apellido"
            />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col form-group mb-2">
            <input
              type="text"
              placeholder="Edad"
              class="form-control text-dark"
              [ngClass]="{'border border-2 border-danger': (this.formAdministrador.controls['edad'].errors?.['required'] && this.formAdministrador.controls['edad'].touched) || (this.formAdministrador.controls['edad'].errors?.['pattern'] || this.formAdministrador.controls['edad'].errors?.['min'] || this.formAdministrador.controls['edad'].errors?.['max'])}"
              formControlName="edad"
            />
          </div>
          <div class="col form-group mb-2">
            <input
              type="text"
              placeholder="DNI"
              class="form-control text-dark"
              [ngClass]="{'border border-2 border-danger': (this.formAdministrador.controls['dni'].errors?.['required'] && this.formAdministrador.controls['dni'].touched) || (this.formAdministrador.controls['dni'].errors?.['pattern'])}"
              formControlName="dni"
            />
          </div>
        </div>

      </fieldset>
  
      <div class="row">
        <div class="col-md-7">
          <fieldset class="reset bg rounded mt-3 p-4">
            <legend class="reset">Informacion cuenta</legend>
            <div class="row">
              <div class="col form-group mb-2">
                <input
                  type="email"
                  placeholder="Email"
                  class="form-control text-dark"
                  [ngClass]="{'border border-2 border-danger': (this.formAdministrador.controls['email'].errors?.['required'] && this.formAdministrador.controls['email'].touched) || (this.formAdministrador.controls['email'].errors?.['email'])}"
                  formControlName="email"
                />
              </div>
            </div>
            <div class="row mt-2">
              <div class="col form-group">
                <input
                  type="password"
                  placeholder="Contraseña"
                  class="form-control text-dark"
                  [ngClass]="{'border border-2 border-danger': (this.formAdministrador.controls['password'].errors?.['required'] && this.formAdministrador.controls['password'].touched) || (this.formAdministrador.controls['password'].errors?.['minlength'])}"
                  formControlName="password"
                />
              </div>
            </div>
          </fieldset>
        </div>
        <div class="col-md-5">
          <fieldset class="reset bg rounded mt-3 fieldset-foto">
            <legend class="reset">Foto de perfil</legend>
            <div class="row mb-3 mt-2 align-items-center">
              <div class="col form-group">
                <label for="foto" class="btn btn-primary w-100"
                  >Foto perfil</label
                >
                <input
                  type="file"
                  accept=".png, .jpg, ,jpeg"
                  id="foto"
                  multiple
                  class="form-control"
                  formControlName="foto"
                  (change)="cargarImagen($event)"
                />
              </div>
              <div class="col-3 ps-0">
                <img
                  class="rounded-circle"
                  src="{{ mostrarImagen }}"
                  alt="foto1"
                  width="38px"
                  height="38px"
                />
              </div>
            </div>
          </fieldset>
        </div>
      </div>
  
      <button
        type="submit"
        class="btn btn-success btn-lg w-100 mt-4 mb-2"
        [disabled]="formAdministrador.invalid"
      >
        <span *ngIf="mostrarLoading; else msj"><app-loading></app-loading></span>
        <ng-template #msj> Registrarse </ng-template>
      </button>
    </div>
  </form>
  
