<div class="container">
  <div class="card my-5" @entrada>
    <div class="card-header bg-deg-t">
      <h1 class="text-white p-2 text-center fw-bold">Perfil</h1>
    </div>
    <div class="card-body bg-deg-t">
      <div class="row gutters-sm" *ngIf="usuario; else loading">
        <div class="col-md-4 mb-3">
          <div class="d-flex flex-column align-items-center text-center">
            <img
              src="{{ usuario.foto || usuario.foto1 }}"
              class="foto-perfil1 rounded-circle mx-5 mb-4"
            />
            <img
              *ngIf="usuario.rol == 'paciente'"
              src="{{ usuario.foto2 }}"
              class="foto-perfil2 rounded-circle mx-5"
            />
          </div>
        </div>

        <div class="col-md-8 text-white">
          <div class="card mb-3">
            <div class="card-body bg-deg-t">
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="mb-0">Nombre completo:</h6>
                </div>
                <div class="col-sm-8">
                  {{ usuario.nombre }} {{ usuario.apellido }}
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="mb-0">Email:</h6>
                </div>
                <div class="col-sm-8">{{ usuario.email }}</div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="mb-0">DNI:</h6>
                </div>
                <div class="col-sm-8">{{ usuario.dni }}</div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="mb-0">Edad:</h6>
                </div>
                <div class="col-sm-8">{{ usuario.edad }}</div>
              </div>
              <span *ngIf="usuario.rol == 'paciente'">
                <hr />
                <div class="row">
                  <div class="col-sm-4">
                    <h6 class="mb-0">Obra social:</h6>
                  </div>
                  <div class="col-sm-8">
                    {{ usuario.obraSocial }}
                  </div>
                </div>
              </span>
              <span *ngIf="usuario.rol == 'especialista'">
                <hr />
                <div
                  class="accordion accordion-flush"
                  id="accordionFlushExample"
                >
                  <div class="accordion-item bg-uno">
                    <h2 class="accordion-header" id="flush-headingOne">
                      <button
                        class="accordion-button collapsed text-white bg-uno"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne"
                        aria-expanded="false"
                        aria-controls="flush-collapseOne"
                      >
                        Especialidades
                      </button>
                    </h2>
                    <div
                      id="flush-collapseOne"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingOne"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body p-2">
                        <ul
                          class="m-0"
                          *ngFor="let especialidad of usuario.especialidad"
                        >
                          <li class="text-dark">
                            <button
                              class="btn btn-sm btn-primary"
                              (click)="mostrarTurnos(especialidad)"
                            >
                              {{ especialidad.nombre }}
                            </button>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <ng-template #loading>
        <app-loading class="text-center"></app-loading>
      </ng-template>
    </div>
  </div>
  <div *ngIf="usuario && usuario.rol == 'especialista'" @entrada2>
    <app-mis-horarios [especialista]="usuario"></app-mis-horarios>
  </div>
  <div *ngIf="usuario && usuario.rol == 'paciente'" @entrada2>
    <div class="card">
      <div class="card-header bg-deg-t">
        <button *ngIf="cargandoPdf" class="btn pdf" (click)="crearPdfHC()">
          <img
            src="https://cdn-icons-png.flaticon.com/128/337/337946.png"
            width="35px"
          />
        </button>
        <app-loading class="pdf" *ngIf="!cargandoPdf"></app-loading>
        <h2 class="text-white text-center p-2 fw-bold">Historia clinica</h2>
      </div>
      <div class="card-body bg-deg-t">
        <app-historia-clinica [paciente]="usuario" #hc></app-historia-clinica>
      </div>
    </div>
  </div>

  <div
    *ngIf="
      usuario && usuario.rol == 'especialista' && mostrarTurnosEspecialidad
    "
    @entrada2
  >
    <div class="card">
      <div class="card-header bg-deg-t">
        <button *ngIf="cargandoPdf" class="btn pdf" (click)="crearPdfTurnos()">
          <img
            src="https://cdn-icons-png.flaticon.com/128/337/337946.png"
            width="35px"
          />
        </button>
        <app-loading class="pdf" *ngIf="!cargandoPdf"></app-loading>
        <h2 class="text-white text-center p-2 fw-bold px-5">
          Turnos de {{ especialidadSeleccionada }}
        </h2>
      </div>
      <div class="card-body bg-deg-t">
        <div class="table-responsive">
          <table
            class="table align-middle text-center text-white"
            id="tabla-turnos"
          >
            <thead>
              <tr>
                <th>#</th>
                <th>Paciente</th>
                <th>Especialidad</th>
                <th>Fecha</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody *ngIf="turnosEspecialidad.length > 0">
              <tr
                *ngFor="let turno of turnosEspecialidad; let i = index"
                appLupa
                appBgTurnos
                [estado]="turno.estado"
              >
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  {{ turno.paciente.nombre }} {{ turno.paciente.apellido }}
                </td>
                <td>{{ turno.especialidad.nombre }}</td>
                <td>{{ turno.fecha | fecha }}</td>
                <td class="fs-3 fw-bold">
                  <span
                    class="badge bg-uno p-3"
                    [ngClass]="{
                      'text-warning': turno.estado === 'pendiente',
                      'text-danger':
                        turno.estado === 'rechazado' ||
                        turno.estado === 'cancelado',
                      'text-info': turno.estado === 'finalizado',
                      'text-success': turno.estado === 'aceptado'
                    }"
                    >{{ turno.estado | uppercase }}</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
