<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-lg">
  <div class="container-fluid">
    <div class="badge d-flex align-items-center">
      <a class="navbar-brand m-0" [routerLink]="['']">
        <div class="row align-items-center px-2">
          <div class="col pe-0">
            <img
              class="logo"
              src="../../../assets/images/logo.png"
              alt="logo"
            />
          </div>
          <div class="col ps-0">
            <span class="brand-size align-items-center">Clínica Online</span>
          </div>
        </div>
      </a>
    </div>
    <button
      class="navbar-toggler mt-3"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ps-3" id="navbarToggler">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['']">Página principal</a>
        </li>
        <li
          *ngIf="usuarioDB && usuarioDB.rol == 'administrador'"
          class="nav-item"
        >
          <a class="nav-link" [routerLink]="['usuarios']">Usuarios</a>
        </li>
        <li
          *ngIf="usuarioDB && usuarioDB.rol == 'especialista'"
          class="nav-item"
        >
          <a class="nav-link" [routerLink]="['pacientes']">Pacientes</a>
        </li>
        <li
          *ngIf="
            usuarioDB &&
            (usuarioDB.rol == 'administrador' ||
              usuarioDB.rol == 'paciente')
          "
          class="nav-item"
        >
          <a class="nav-link" [routerLink]="['solicitar-turno']"
            >Solicitar turno</a
          >
        </li>
        <li
          *ngIf="
            usuarioDB &&
            usuarioDB.rol == 'administrador'
          "
          class="nav-item"
        >
          <a class="nav-link" [routerLink]="['turnos']"
            >Turnos</a
          >
        </li>
        <li
          *ngIf="
            usuarioDB &&
            (usuarioDB.rol == 'especialista' ||
              usuarioDB.rol == 'paciente')
          "
          class="nav-item"
        >
          <a class="nav-link" [routerLink]="['mis-turnos']"
            >Mis turnos</a
          >
        </li>
      </ul>

      <div
        *ngIf="usuarioAuth && usuarioDB; else log"
        class="navbar-nav ml-auto btn-group"
      >
        <a
          type="button"
          class="nav-link dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img class="foto-perfil" src="{{ fotoPerfil }}" />
          <span class="ps-2 pe-1"
            >{{ usuarioDB.nombre }} {{ usuarioDB.apellido }}</span
          >
        </a>
        <ul class="dropdown-menu dropdown-menu-end p-0 text-center">
          <li class="nav-item">
            <a class="nav-link hover text-dark" [routerLink]="['mi-perfil']">Perfil</a>
          </li>
          <li>
            <div class="dropdown-divider m-0"></div>
          </li>
          <li class="nav-item">
            <a class="nav-link hover text-dark" (click)="cerrarSesion()"
              >Cerrar sesion</a
            >
          </li>
        </ul>
      </div>

      <ng-template #log>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['auth/login']">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['auth/register']">Registrarse</a>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
