<div class="container" @entrada>
  <div class="card">
    <div class="card-header">
      <h1 class="text-center p-2 text-white fw-bold">Registro {{ formElegido }}</h1>
      <div
        class="backIcon"
        *ngIf="formElegido != ''"
        (click)="formElegido = ''"
      >
        <img
          src="https://img.icons8.com/officel/2x/back.png"
          width="35px"
          alt="backIcon"
        />
      </div>
    </div>
    <div class="card-body">
      <div>
        <div *ngIf="formElegido == ''" class="botones">
          <button
            class="btn btn-success btn-lg text-center me-4"
            (click)="formElegido = 'paciente'"
          >
            <img
              class="icono"
              src="../../../../assets/images/paciente.png"
              alt="paciente"
              width="120px"
            />
          </button>
          <button
            class="btn btn-info btn-lg text-center ms-4"
            (click)="formElegido = 'especialista'"
          >
            <img
              class="icono"
              src="../../../../assets/images/especialista.png"
              alt="especialista"
              width="120px"
            />
          </button>
        </div>
        <div *ngIf="formElegido == 'paciente'">
          <app-form-paciente
            [mostrarLoading]="mostrarLoading"
            (paciente)="registrarUsuario($event)"
          ></app-form-paciente>
        </div>
        <div *ngIf="formElegido == 'especialista'">
          <app-form-especialista
            [mostrarLoading]="mostrarLoading"
            (especialista)="registrarUsuario($event)"
          ></app-form-especialista>
        </div>
      </div>
    </div>
  </div>
</div>
