.reset {
  all: revert;
}

form > .reset {
  border: 1px solid rgb(255, 255, 255);
}

.encuesta {
  font-size: 1.1rem;
  font-weight: 600;
}

.table-responsive {
  max-height: 25rem;
}

legend {
  border: 10px solid black;
}

.bg-uno {
  background-color: rgba(230, 230, 230, 0.4);
}

.dat-ob {
  border-radius: 30px;
  padding: 0.8rem;
  margin: 0.2rem;
}
