<input type="text" class="mb-3" [(ngModel)]="filtro" />
<button class="mb-3 me-5" (click)="mostrarFiltrado(filtro)">filtrar</button>
<button class="mb-3" (click)="mostrarTodos()">todos</button>

<div class="table-responsive">
  <table class="table align-middle table-hover table-light text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Paciente</th>
        <th scope="col">Especialidad</th>
        <th scope="col">Fecha</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody *ngIf="turnosEspecialistaFiltrado.length > 0">
      <tr *ngFor="let turno of turnosEspecialistaFiltrado; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ turno.paciente.nombre }} {{ turno.paciente.apellido }}</td>
        <td>{{ turno.especialidad.nombre }}</td>
        <td>{{ turno.fecha | fecha }}</td>
        <td>
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#flush-collapse' + i"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne"
                >
                  <span class="fs-5 fw-bold text-dark pe-2">{{
                    turno.estado
                  }}</span>
                </button>
              </h2>
              <div
                id="flush-collapse{{ i }}"
                class="accordion-collapse collapse p-2"
                aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample"
              >
                <button class="btn btn-danger">Cancelar</button>
                <button class="btn btn-danger">Rechazar</button>
                <button class="btn btn-success">Aceptar</button>
                <button class="btn btn-warning">Finalizar turno</button>
                <button class="btn btn-info">Ver reseña</button>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="turnosEspecialistaFiltrado.length == 0 && !listaFiltradaVacia" class="text-center">
  <app-loading></app-loading>
</div>
<div *ngIf="listaFiltradaVacia" class="text-center">
    <h2><span class="badge">No hay coincidencias</span></h2>
</div>
