
.table-responsive {
  max-height: 30rem;
}

.btn-excel:active{
  transform: scale(0.85);
}

.btn-excel:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.bg-uno {
  background-color: rgba(230, 230, 230, 0.4);
}

.bg-uno:hover{
  background-color: rgba(230, 230, 230, 0.8);
}

.back{
  cursor: pointer;
}

