<div class="row">
  <div class="col-sm-4">
    <div class="input-group mb-3">
      <span class="input-group-text">Rol:</span>
      <select class="form-select" [(ngModel)]="rolSeleccionado">
        <option selected>Todos</option>
        <option value="paciente">Paciente</option>
        <option value="especialista">Especialista</option>
        <option value="administrador">Administrador</option>
      </select>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="input-group mb-3">
      <span class="input-group-text">Estado:</span>
      <select class="form-select" [(ngModel)]="estadoSeleccionado">
        <option selected>Todos</option>
        <option value="true">Activo</option>
        <option value="false">No activo</option>
      </select>
    </div>
  </div>
  <div class="col-1 mb-2">
    <button class="btn btn-info" (click)="filtrarLista()">Filtrar</button>
  </div>
  <div class="col text-end mb-2">
    <button class="btn btn-excel p-0" (click)="exportarAExcel()">
      <img src="https://img.icons8.com/color/344/ms-excel.png" width="40px" />
    </button>
  </div>
</div>

<div class="table-responsive">
  <table
    id="tabla"
    class="table align-middle table-hover table-light text-center"
  >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Rol</th>
        <th *ngIf="!excel" scope="col">Detalle</th>
        <th scope="col">Activo</th>
      </tr>
    </thead>
    <tbody *ngIf="listaFiltrada.length > 0">
      <tr *ngFor="let usuario of listaFiltrada; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.rol }}</td>
        <td *ngIf="!excel"><button class="btn">Ver detalle</button></td>
        <td>
          <span hidden>{{ usuario.activo | bool }}</span>
          <button
            *ngIf="usuario.rol != 'administrador' && usuario.activo"
            class="btn"
            (click)="cambiarEstado(usuario)"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/128/889/889754.png"
              alt="switch"
              width="35px"
            />
          </button>
          <button
            *ngIf="usuario.rol != 'administrador' && !usuario.activo"
            class="btn"
            (click)="cambiarEstado(usuario)"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/128/889/889758.png"
              alt="switch"
              width="35px"
            />
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="listaUsuarios.length == 0" class="text-center">
  <app-loading></app-loading>
</div>
