<div class="container">
  <div class="card" @entrada>
    <div class="card-header">
      <h1 class="fw-bold text-white text-center p-3">Turnos</h1>
    </div>
    <div class="card-body">
      <div *ngIf="estado == 'tabla'">
        <input
          type="text"
          class="form-control mb-3 text-dark"
          placeholder="Ingrese una palabra..."
          [(ngModel)]="filtro"
          (input)="mostrarFiltrado(filtro)"
        />
        <div class="table-responsive">
          <table class="table align-middle text-center text-white">
            <thead>
              <tr>
                <th>#</th>
                <th>Paciente</th>
                <th>Especialista</th>
                <th>Especialidad</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Accion</th>
              </tr>
            </thead>
            <tbody *ngIf="turnosFiltrados.length > 0">
              <tr *ngFor="let turno of turnosFiltrados; let i = index" appBgTurnos [estado]="turno.estado">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  {{ turno.paciente.nombre }} {{ turno.paciente.apellido }}
                </td>
                <td>
                  {{ turno.especialista.nombre }}
                  {{ turno.especialista.apellido }}
                </td>
                <td>{{ turno.especialidad.nombre }}</td>
                <td>{{ turno.fecha | fecha }}</td>
                <td class="fs-3 fw-bold">
                  <span
                    class="badge bg-uno p-3"
                    [ngClass]="{
                      'text-warning': turno.estado === 'pendiente',
                      'text-danger':
                        turno.estado === 'rechazado' ||
                        turno.estado === 'cancelado',
                      'text-info': turno.estado === 'finalizado',
                      'text-success': turno.estado === 'aceptado'
                    }"
                    >{{ turno.estado | uppercase }}</span
                  >
                </td>
                <td>
                  <div
                    class="accordion accordion-flush"
                    id="accordionFlushExample"
                  >
                    <div class="accordion-item bg-uno">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button
                          class="accordion-button collapsed bg-uno"
                          type="button"
                          data-bs-toggle="collapse"
                          [attr.data-bs-target]="'#flush-collapse' + i"
                          aria-expanded="false"
                          aria-controls="flush-collapseOne"
                        ></button>
                      </h2>
                      <div
                        id="flush-collapse{{ i }}"
                        class="accordion-collapse collapse p-2"
                        aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample"
                      >
                        <button
                          class="btn btn-danger"
                          *ngIf="
                            turno.estado == estadoTurno.pendiente ||
                              turno.estado == estadoTurno.aceptado;
                            else vacio
                          "
                          (click)="
                            (turnoSeleccionado = turno) && (estado = 'cancelar')
                          "
                        >
                          Cancelar
                        </button>
                        <ng-template #vacio>-</ng-template>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          *ngIf="turnosFiltrados.length == 0 && !listaFiltradaVacia"
          class="text-center"
        >
          <app-loading></app-loading>
        </div>
        <div *ngIf="listaFiltradaVacia" class="text-center">
          <h2><span class="badge bg-badge">No hay coincidencias</span></h2>
        </div>
      </div>
      
      <div *ngIf="estado == 'cancelar'">
        <h2 class="text-center pb-2">
          <span class="badge bg-badge">Cancelar turno</span>
        </h2>
        <form [formGroup]="formCancelar" (ngSubmit)="cancelarTurno()">
          <div class="input-group">
            <span class="input-group-text">Deje un motivo</span>
            <textarea
              class="form-control"
              [ngClass]="{'border border-2 border-danger': (this.formCancelar.controls['comentario'].errors?.['required'] && this.formCancelar.controls['comentario'].touched)}"
              formControlName="comentario"
            ></textarea>
          </div>
          <button
            type="submit"
            class="btn btn-danger w-100 mt-3"
            [disabled]="formCancelar.invalid"
          >
            Cancelar turno
          </button>
          <button
            type="button"
            class="btn btn-secondary w-100 mt-1"
            (click)="estado = 'tabla'"
          >
            Volver
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
