.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 85vh;
}

.card {
  max-width: 70rem;
  background-color: rgba(240, 248, 255, 0);
  box-shadow: 7px 7px 20px rgb(39, 74, 120);
}

.table-responsive{
  max-height: 25rem;
}

.bg-uno {
  background-color: rgba(230, 230, 230, 0.4);
}

a {
  cursor: pointer;
}
