body {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(https://images.clipartlogo.com/files/istock/previews/1017/101711783-abstract-blur-background.jpg);
}
