li {
  cursor: pointer;
}

li:hover {
  background-color: rgb(148, 181, 211);
}

.card {
  background-color: rgba(240, 248, 255, 0);
  box-shadow: 7px 7px 20px rgb(39, 74, 120);
}

.backIcon {
  position: absolute;
  left: 0.5rem;
  top: 1rem;
  cursor: pointer;
}

.card {
  min-width: 40vmin;
}
